body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar .divider-vertical {
  height: 20px;
  margin: 15px 9px;
  border-left: 1px solid #969696;
  border-right: 1px solid #969696;
}

.indent {
  padding-left: 20px;
  display: inline;
}

.number {
  font-size: 18px;
}
